# EditorConfig is awesome: http://EditorConfig.org
# If you use the editorConfig plugin on your editor
# it will ensure the following rules are applied
# and minimize the space/tab and linux/windows
# new line issues.

root = true

# For Any file
[*]
# use the linux end of line
end_of_line = lf
# inserts a new line at the end of the file
# (solves issues when using some linux commands like `wc -l`)
insert_final_newline = true
# deletes white spaces at the end of lines
trim_trailing_whitespace = true
# use utf8 encoding
charset = utf-8

# For Javascript files
# convert tab to 4 spaces
[*.js]
indent_style = space
indent_size = 4

[webpack.config.js]
indent_size = 2

# For JSON files
# convert tab to 2 spaces
[*.json]
indent_style = space
indent_size = 2

[*.styl]
indent_style = space
indent_size = 2
